mixin person(shortname)
  - var contributor = contributors[shortname]
  - if(!contributor)
    | Anonymous
  - else
    - if(contributor.urlforwhereyournameshouldlinkto)
      a(href=contributor.urlforwhereyournameshouldlinkto)=contributor.howwouldyoulikeyournametoappearinthepodcastepisodenotes
    - else
      =contributor.howwouldyoulikeyournametoappearinthepodcastepisodenotes

 mixin avatar(shortname, size)
  - var contributor = contributors[shortname]
  - var url = 'http://www.gravatar.com/avatar/x?d=monsterid'
  if (contributor)
    - url = contributor.gravatarurl
  img(src='#{url}&s=#{size}')

mixin audio(episode)
  audio(controls preload='metadata')
    source(src=episode.audio_url type='audio/mpeg')
    | mp3 not supported by your browser, subscribe to listen

mixin credit(shortname, credit)
  .person
    .avatar
      +avatar(shortname, 42)
    .name
      +person(shortname)
    .credit= credit

mixin contributor(shortname, episodes)
  - var person = contributors[shortname]
  .avatar
    +avatar(shortname, 128)
  .person
    +person(shortname)
  .episodes
    each episode, idx in episodes
      - if(idx !== 0)
        | ,&nbsp;
      a(href=episode.permalink) #{episode.guid}. #{episode.title}

mixin contributors(list)
  ul.contributor-list
    - var keys = Object.keys(list).sort()
    each key in keys
      li
        +contributor(key, list[key])

