extends ./_layout.jade

block content
  each episode in episodes
    article(id='episode#{episode.guid}')
      header
        h1
          span.title= episode.title
          span.date= episode.date
        .body
          p= episode.summary
          p
            strong Story By:&nbsp;
            = episode.story_by
          p
            strong Narrated By:&nbsp;
            = episode.narrated_by
          .player
            audio(controls preload='metadata')
              source(src=episode.url type='audio/mpeg')
              | To listen to the episode, please subscribe